<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{{pageTitle}}</title>

    <!-- Fontfaces CSS-->
    <base href="/">
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition" >
    <div class="page-wrapper">
        <!-- Botón para abrir el menú en móviles -->
    <button id="mobile-menu-toggle" class="btn btn-primary d-block d-lg-none m-2">
        <i class="fa fa-bars"></i> Menú
    </button>

        <!-- MENU SIDEBAR-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
            
                <img src="images/LogoMedical.png" />
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
               <li class="has-sub">
                    <a href="/equipment">
                <i class="fas fa-copy"></i>Equipos</a>
                </li>            
                <li class="{{#if ID }}active{{/if}} has-sub">
                    <a href="/report/equipment/installation/{{ code }}">
                        <i class="fas fa-copy"></i>Instalación</a>
                </li>                        
                <li class="{{#if PPM }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/ppm/{{ code }}">
                        <i class="fas fa-copy"></i>MP</a>
                </li> 
                <li class="{{#if DI }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/dailyInspection/{{ code }}">
                        <i class="fas fa-copy"></i>Inspecciones Diarias</a>
                </li>    
                   <li class="{{#if SP }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/spareParts/{{ code }}">
                        <i class="fas fa-copy"></i>Acc/Rep/Insum</a>
                </li>    
                  <li class="{{#if BD }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/breakDowns/{{ code }}">
                        <i class="fas fa-copy"></i>Historial de errores</a>
                </li> 
               <li class="{{#if M }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/maintenance/{{ code }}">
                        <i class="fas fa-copy"></i>Mantenimiento</a>
                </li>    
                <li class="{{#if M }}active{{/if}} has-sub">
                    <a class="js-arrow" href="/report/equipment/indicadores/{{ code }}">
                        <i class="fas fa-copy"></i>Indicadores</a>
                </li>          
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- MENU SIDEBAR -->
    <aside id="mobile-sidebar" class="menu-sidebar bg-dark text-white" style="z-index: 9999; position: fixed; top: 0; bottom: 0; left: 0; width: 250px; display: none;">
    <div class="logo">
        <img src="images/LogoMedical.png" />
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <!-- Tus elementos existentes -->
                <li class="has-sub"><a href="/equipment"><i class="fas fa-copy"></i>Equipos</a></li>
                <li class="{{#if ID }}active{{/if}} has-sub"><a href="/report/equipment/installation/{{ code }}"><i class="fas fa-copy"></i>Instalación</a></li>
                <li class="{{#if PPM }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/ppm/{{ code }}"><i class="fas fa-copy"></i>MP</a></li>
                <li class="{{#if DI }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/dailyInspection/{{ code }}"><i class="fas fa-copy"></i>Inspecciones Diarias</a></li>
                <li class="{{#if SP }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/spareParts/{{ code }}"><i class="fas fa-copy"></i>Acc/Rep/Insum</a></li>
                <li class="{{#if BD }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/breakDowns/{{ code }}"><i class="fas fa-copy"></i>Historial de errores</a></li>
                <li class="{{#if M }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/maintenance/{{ code }}"><i class="fas fa-copy"></i>Mantenimiento</a></li>
                <li class="{{#if M }}active{{/if}} has-sub"><a class="js-arrow" href="/report/equipment/indicadores/{{ code }}"><i class="fas fa-copy"></i>Indicadores</a></li>
            </ul>
        </nav>
    </div>
</aside>

        <!-- END MENU SIDEBAR-->.

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{!-- <header class="header-desktop">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <div class="header-wrap">
                                    <form class="form-header" action="" method="POST">
                                        
                                    </form>
                                    
                                    <div class="header-button">
                                        <form class="form-header" action="" method="POST">
                                            <a href="/" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-account"></i>Sign Out</a>
                                        </form> 
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
            </header>             --}}
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Medical Center</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Medical Center</a>
                                                    </h5>
                                                    <span class="email">Software Means Maintenance Success</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/">
                                                        <i class="zmdi zmdi-power"></i>Salir</a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            {{{ body }}}    
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

    <script>
    const sidebar = document.getElementById("mobile-sidebar");
    const toggleBtn = document.getElementById("mobile-menu-toggle");

    // Función para mostrar/ocultar el sidebar
    toggleBtn.addEventListener("click", () => {
        if (sidebar.style.display === "none" || sidebar.style.display === "") {
            sidebar.style.display = "block";
        } else {
            sidebar.style.display = "none";
        }
    });

    // Cierra el sidebar si se hace clic fuera de él en pantallas pequeñas
    document.addEventListener("click", (e) => {
        if (window.innerWidth < 992) {
            if (!sidebar.contains(e.target) && !toggleBtn.contains(e.target)) {
                sidebar.style.display = "none";
            }
        }
    });

    // Cierra el sidebar al hacer clic en cualquier enlace dentro de él (solo en móvil)
    sidebar.querySelectorAll("a").forEach(link => {
        link.addEventListener("click", () => {
            if (window.innerWidth < 992) {
                sidebar.style.display = "none";
            }
        });
    });
</script>



</body>

</html>
<!-- end document-->
