<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">    
                    <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus"></i>Añadir ingeniero Clínico</a>
            </div>
           {{#if hasEngineers}} 
            <div class="row">
              {{#each clinicalEngineers }}   
                <div class="col-md-4">
                    <div class="card" style="width: auto;">
                        <img class="card-img-top" src="images/{{this.Image}}" alt="Card image cap" style="height: 250px;">
                        <div class="card-body">
                            <div class="card-text">CI: <span>{{ this.DSSN }}</span></div>
                            <div class="card-text">Nombre: <span>{{ this.FName }} {{ this.LName }}</span></div>
                            <div class="card-text">Celular: <span>{{ this.Phone }}</span></div>
                            <div class="card-text">Edad: <span>{{ this.Age }}</span></div>
                            <div class="card-text">Email: <span>{{ this.Email }}</span></div>
                            <div class="card-text">Dirección: <span>{{ this.Adress }}</span></div>
                            <div class="card-text">Horas de trabajo: <span>{{ this.WorkHours }}</span></div>
                            <div class="card-text">Departmento: <span>{{ this.DepartmentCode }}</span></div>

                        </div>
                        <div class="table-data-feature">
                            <a href="/clinicalEngineer/edit/{{ this.DSSN }}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                            <a href="/clinicalEngineer/delete/{{ this.DSSN }}" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </div>
                    </div> 
                </div>
               {{/each }} 
            </div>
           {{/if }} 
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->
          
<!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
          <div class="modal-body">
            <form method="POST" action="/clinicalEngineer/add" enctype="multipart/form-data">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="login-logo">
                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                </div>
                <div class="login-form">
                                <div class="form-group">
                                    <label class=" form-control-label">DSSN</label>
                                    <input type="text" required name="DSSN" placeholder="Ingrese CI" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Nombres</label>
                                    <input type="text" required name="FName"  placeholder="Ingrese Nombres" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Apellidos</label>
                                    <input type="text" required name="LName" placeholder="Ingrese Apellidos" class="form-control">
                                </div>
                                  <div class="form-group">
                                    <label class=" form-control-label">Foto</label>
                                    <input type="file" required name="image" placeholder="Seleccione una foto" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Celular</label>
                                    <input type="text" required name="Phone" placeholder="Ingrese Celular" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Edad</label>
                                    <input type="text"  required name="Age" placeholder="Ingrese Edad" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Email</label>
                                    <input type="email" required name="Email" placeholder="Ingrese Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Dirección</label>
                                    <input type="text" required name="Address" placeholder="Ingrese Dirección" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Horas de trabajo</label>
                                    <input type="text" required name="workHours" placeholder="Ingrese Horas de Trabajo" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Departmento</label>
                                    <select name="Department"required id="select" class="form-control">
                                        <option value="Radiology">Radiología</option>
                                        <option value="OR">OR</option>
                                        <option value="ICU">ICU</option>
                                        <option value="CSSD">CSSD</option>
                                    </select>
                                </div>
                                    <div class="form-group">
                                    <label class=" form-control-label">Contraseña</label>
                                    <input type="password" required name="Password" placeholder="Ingrese Contrasela" class="form-control">
                                </div>
                                
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">AÑADIR</button>
                                
                        </div>
            </form>
          </div>  
        </div>
    </div>     
</div>   
