<style>
.tarjeta {
  width: 300px;
  height: 200px;
  background-color: #009f48; /* Color de fondo del contenedor */
}
</style>

<div class="container mt-5">
  <div class="row">
    <!-- Tarjeta de cantidad de equipos -->
    <div class="col-md-4">
      <div class="tarjeta text-white mb-3">
        <div class="card-header">Cantidad total de equipos</div>
        <div class="card-body">
          <h5 class="card-title">{{totalEquipos}}</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta de costo total -->
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Costo total EQUIPOS</div>
        <div class="card-body">
          <h5 class="card-title">Bs.-{{costoTotal}}</h5>
        </div>
      </div>
    </div>

    <!-- Tarjeta con distribución por año -->
    <div class="col-md-4">
      <div class="card text-white bg-info mb-3">
        <div class="card-header">Costo total por año EQUIPAMIENTO</div>
        <div class="card-body">
          {{#each costosPorAnio}}
            <p><strong>{{this.anio}}:</strong> Bs.-{{this.total}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{#if ordenesPendientes.length}}
  <h3>Órdenes de Trabajo con Pendiente</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Orden</th>
        <th>Equipo</th>
        <th>Razón</th>
        <th>Estado de reparación</th>
        <th>Encargado</th>
      </tr>
    </thead>
    <tbody>
      {{#each ordenesPendientes}}
        <tr>
          <td>{{this.Code}}</td>
          <td>{{this.EquipmentName}}</td>
          <td>{{this.Description}}</td>
          <td>{{this.Estado}}</td>
          <td>{{this.Encargado}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No hay órdenes de trabajo pendientes.</p>
{{/if}}

</div>
