<head>
    <style>
        /* Fondo de thead */
        table thead {
            background-color: #d2d6d9 !important; /* Fondo gris claro */
        }

        /* Letras de los th */
        table thead th {
            color: #009f48 !important; /* Letras verdes */
        }

        /* Letras de los td */
        table tbody td {
            color: #303655 !important; /* Letras gris oscuro */
        }
    </style>
</head>

<div class="container">
    <div class="card-body card-block">
        <div class="login-content">
            <div class="login-logo">
               
                <img src="images/LogoMedical.png" />
            </div>
            <h3 class="title-3 m-b-30">
            <img src="images/LogoMedical.png" />
            <div class="card-body">
                  <div class="card-text">Fecha:  {{ report.DATE}}</div>
                <div class="card-text">Equipo: {{ report.EquipmentName}} ,   Modelo: {{ report.EquipmentModel}}</div>
                <div class="card-text">Ingeniero: {{ report.Engineer}}</div>
            </div>
            
            <div class="top-campaign">
                <div class="table-responsive">
                    <table class="table table-top-campaign">
                        <thead>
                                    <tr>
                                        <td> Preguntas</td>
                                        <td>S/N</td>
                                        <td>Comentarios</td>
                                    </tr>
                                    <tr>
                                        <td> {{questions.Q1}}</td>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" {{#if report.Q1}} checked {{/if}} disabled>
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{ report.N1}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{questions.Q2}}</td>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" {{#if report.Q2}} checked {{/if}} disabled>
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{report.N2}}</td>
                                    </tr>
                                    <tr>
                                        <td> {{questions.Q3}}</td>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" {{#if report.Q3}} checked {{/if}} disabled>
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{report.N3}}</td>
                                    </tr>
                                    <tr>
                                        <td> {{questions.Q4}}</td>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" {{#if report.Q4}} checked {{/if}} disabled>
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{report.N4}}</td>
                                    </tr>
                                    <tr>
                                        <td> {{questions.Q5}}</td>
                                        <td>
                                            <label class="au-checkbox">
                                                <input type="checkbox" {{#if report.Q1}} checked {{/if}} disabled>
                                                <span class="au-checkmark"></span>
                                            </label>
                                        </td>
                                        <td>{{report.N5}}</td>
                                    </tr>
                                </thead>
                    </table>
                    <div class="text-center mt-4">
                        <h5>Firma del Ingeniero Clínico</h5>
                        {{#if report.signature}}
                            <img src="{{report.signature}}" alt="Firma del técnico" style="border: 1px solid #000; max-width: 400px; padding: 5px; border-radius: 10px;">
                        {{else}}
                            <p><em>No se registró ninguna firma para este reporte.</em></p>
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>