<head>
    <style>
        /* Fondo de thead */
        table thead {
            background-color: #d2d6d9 !important; /* Fondo gris claro */
        }

        /* Letras de los th */
        table thead th {
            color: #009f48 !important; /* Letras verdes */
        }

        /* Letras de los td */
        table tbody td {
            color: #303655 !important; /* Letras gris oscuro */
        }
    </style>
</head>

<div class="main-content">
    <div class="section__content section__content--p30"> 
        <div class="container-fluid">
            <div class="table-data__tool">
                <h2>{{#if name}} Nombre de equipo: {{ name }} ,Modelo:{{ model}}{{/if}}</h2>
            </div>
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Ingeniero</th>
                            <th></th>

                        </tr>
                    </thead>
                   {{#if hasReports}} 
                    <tbody>
                     {{#each reports}}
                        <tr>
                            <td>{{this.Code}}</td>
                            <td>{{this.DATE}}</td>
                            <td>{{this.Engineer}}</td>
                            <td>
                                <div class="table-data-feature">      
                                    <a href="/report/ppm/{{ this.Code }}?report=true" class="item" data-toggle="tooltip" data-placement="top" title="More">
                                        <i class="zmdi zmdi-more"></i>
                                    </a>
                                </div>
                            </td>

                        </tr>
                       {{/each}} 
                    </tbody>
                   {{/if}} 
                </table>
            </div>
        </div>
    </div>
</div>
        <!-- END PAGE CONTAINER-->  

