<div class="container" style="height: 100%;">
    <div class="card-body card-block" style="height: 100%;">
        <div class="login-content" style="height: 100%;">
            <div class="login-logo">
              
                <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
            </div>
            <h3 class="title-3 m-b-30">
            <i class="zmdi zmdi-account-calendar"></i>MP</h3>
            <div class="card-body" style="height: 100%;">
                <div class="card-text">ID_OT: {{order.Code}} </div>                            
                <div class="card-text">Equipo: Nombre: {{order.EquipmentName}} ,model:{{order.EquipmentModel}} ,Code:{{order.EquipmentCode}} </div>
                <div class="card-text">Fecha de Inicio: {{order.StartDate}}</div>
                <div class="card-text">Fecha de Finalización: {{order.EndDate}}</div>
                <div class="card-text">Descripción: {{order.Description}}</div>
                <div class="card-text">Prioridad: {{order.Priority}}</div>
                <div class="card-text">Costo: {{order.Cost}} </div>
                <div class="card-text">Solución: {{order.Solution}}</div>
                <div class="card-text">Fecha de Trabajo: {{order.Workdate}}</div>

            </div>
            
            <div class="top-campaign" style="height: 100%;">
                <div class="table-responsive">
                    <table class="table table-top-campaign">
                    </table>   
                </div>
            </div>
                
    </div>
 </div>